.infowindow
{
    font-family: arial, helvetica, sans-serif;
    padding: 10px;
    z-index: 5;
}

.urn{
    display:none;
}

.infowindowtitle
{
    font-size: 14px;
    font-weight: bold;
    line-height:30px;
    text-transform:uppercase;
}

.infowindownavigation
{
    position:absolute;
    top: 30px;
    line-height: 30px;
}

.infowindowbody
{
    font-size: 12px;
    overflow-y:auto;
    overflow-x:hidden;
    margin: 5px 0px 5px 5px;
}

.infowindowbody::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.infowindowbody::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.infowindowbody::-webkit-scrollbar-thumb
{
	background-color: #999999;
}

.infowindowtoolbar
{
    position:absolute;
    bottom: 0px;
    right: 0px;
    text-align:right;
    padding-top:5px;
}

.infowindowpage
{
    position: absolute;
    width: 100%;
    height:100%;
    top: 100px;
}

.table table-striped {
    font-size: 10px;
}

nav nav-tabs {
    margin:0px;
}

#label{
    white-space: nowrap;
}

#value{
    white-space: nowrap;
}